# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\RyzenPC\Downloads\spring-in-action-5-samples-master\spring-in-action-5-samples-master\ch03\TVScrapper\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
